@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Mukta:wght@300;400;500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Mukta:wght@300;400;500;600;700;800&family=Poppins:wght@300;400;500;600;700;800&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Mukta";
}

@keyframes float {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(25px);
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes pulse {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.2);
  }
}
header {
  background: linear-gradient(90deg, rgb(13, 17, 22), rgb(13, 17, 22));
}
header .logoHeader img {
  width: 100px;
  animation: pulse 4s infinite alternate;
}
header .navbar-light .textoLogo {
  text-shadow: 7px 4px 5px rgba(255, 216, 216, 0.493);
  font-size: 2.5em;
  display: flex;
  margin-bottom: 8px;
  margin-left: 10px;
}
header .navbar-light .navbar-toggler {
  color: rgba(255, 255, 255, 0.55);
  border-color: rgba(255, 255, 255, 0.1);
}
header .navbar-light .navbar-toggler .navbar-toggler-icon {
  filter: invert(100%);
}
header .navbar-light .hoverLink a:hover {
  color: #c9aaa0 !important;
}
header .navbar-light .hoverLink a:focus {
  color: #2e2a2a !important;
}

.backgroundInicio {
  width: 100%;
  height: 100vh;
  background-image: url("");
  background-size: cover;
  background-position: center;
}

@media screen and (max-width: 480px) {
  .backgroundInicio {
    background-image: url("../assets/img/backgrundLaptopSSSS.jpg");
  }
}
.historia {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 10px;
}
.historia .articulo {
  display: flex;
  flex-direction: column;
  gap: 20px;
  flex: 1 1 100%;
  margin-left: 20px;
  padding-left: 20px;
  padding-right: 20px;
  margin-top: 0.5em;
}
@media (min-width: 768px) {
  .historia .articulo {
    flex: 1 1 calc(50% - 30px);
  }
}
.historia h2 {
  margin: 0;
}
.historia .formacionH2 {
  margin-left: 135px;
  margin-bottom: 30px;
}
.historia .formacion {
  width: 97%;
  margin-top: 0px;
}
.historia .textoP {
  font-size: 1.5em;
  color: black;
  text-align: justify;
  line-height: 150%;
  padding-left: 135px;
}
.historia .textoP2 {
  font-size: 1.4em;
  color: black;
  text-align: justify;
  line-height: 150%;
  margin-top: 20px;
  margin-right: 20PX;
}
.historia .imgCofee {
  align-items: end;
}
.historia .imgCofee img {
  max-width: 700px;
  margin: 20px;
  margin-left: 150px;
  margin-bottom: 50px;
}
@media (max-width: 768px) {
  .historia .imgCofee img {
    max-width: 100%;
    margin-left: 0px;
    padding-left: 0px;
    margin: 0px;
  }
  .historia .formacion {
    width: 100%;
    margin-left: 0px;
  }
  .historia .formacion .textoP {
    margin-top: 20px;
    margin-right: 20px;
    margin-left: 0px;
    padding-left: 0px;
  }
  .historia .formacionH2 {
    margin-left: 0px;
    margin-bottom: 20px;
    margin-top: 20px;
  }
}

.cardInicio {
  width: 90%;
  margin: 10px auto;
  background-color: #f1f1f1;
  padding: 20px;
}

@media (min-width: 768px) {
  .contenedorCard {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
  }
  .cardInicio {
    width: 400px;
    margin: 10px;
    text-align: center;
  }
  .cardInicio img {
    width: 100%;
    height: auto;
  }
  .cardInicio .TextoCard {
    margin-top: 10px;
  }
}
.bgTestimonios {
  background-image: linear-gradient(rgba(60, 64, 66, 0.336), rgba(60, 61, 66, 0.247)), url("../assets/img/background2G.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border-width: 1px;
  border-style: inset;
  border-color: rgba(150, 206, 206, 0.5);
}

@media screen and (max-width: 768px) {
  .bgTestimonios {
    background-image: linear-gradient(rgba(60, 64, 66, 0.336), rgba(60, 61, 66, 0.247)), url("../assets/img/backgroung2S.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh !important;
    margin: auto;
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
}
.jumbotron {
  background-size: cover;
  color: #202222;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.cardNuestrasClases {
  border: none;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.cardNuestrasClases .card-headerNuestrasClases {
  background-color: #f8f9fa;
  font-weight: bold;
}

.features-list {
  list-style: none;
  padding-left: 0;
}
.features-list li {
  padding: 10px 0;
}
.features-list li:before {
  content: "✓";
  color: #28a745;
  margin-right: 10px;
}

.contenedorContacto {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}
@media screen and (max-width: 480px) {
  .contenedorContacto {
    padding: 10px;
  }
}

.formContacto {
  margin-bottom: 20px;
}
.formContacto label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}
.formContacto input[type=text],
.formContacto input[type=email],
.formContacto textarea {
  width: 100%;
  padding: 5px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
}
.formContacto textarea {
  height: 100px;
}

.botonEnviarContacto {
  display: inline-block;
  padding: 10px 20px;
  font-size: 28px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
.botonEnviarContacto:hover {
  background-color: #45a049;
}

.main404 {
  background-image: url("../assets/img/404.jpg");
  background-size: cover;
  background-position: center;
  color: rgb(0, 0, 0);
  margin: 0;
  padding: 0;
}
.main404 .contenedor404 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  padding: 0 20px;
}
.main404 h1 {
  font-size: 3rem;
  margin-bottom: 2rem;
  text-align: center;
  justify-content: flex-start;
}
.main404 .btn404 {
  padding: 0.8rem 2rem;
  background-color: #f3b7b7;
  color: #000000;
  text-decoration: none;
  font-weight: bold;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}
.main404 .btn404:hover {
  background-color: #cccccc;
}
@media (max-width: 480px) {
  .main404 h1 {
    font-size: 2.5rem;
  }
  .main404 .btn404 {
    padding: 0.6rem 1.5rem;
    font-size: 0.9rem;
  }
}

footer {
  background: linear-gradient(90deg, rgb(4, 123, 139), rgb(4, 123, 139), rgb(35, 140, 154), rgb(35, 140, 154), rgb(67, 156, 168), rgb(67, 156, 168), rgb(98, 173, 183));
}
footer .siguenos {
  padding-top: 0.9rem;
  margin-right: 0.7rem;
  padding-right: 0.5rem;
}
footer .iconos {
  font-size: 40px;
  color: rgb(2, 30, 46);
  padding-right: 0.5rem;
  padding-top: 1rem;
  margin-right: 0.5rem;
  animation: float infinite 4s ease-in-out;
}
footer .iconI {
  animation-delay: 2s;
}
footer .iconF {
  animation-delay: 1s;
}
footer a:hover {
  color: #2e2a2a !important;
}
footer a:focus {
  color: #c9aaa0 !important;
}
footer .nav-link.footerLinks {
  size: 1em;
  color: #9de5eb;
  text-align: center;
}

/*# sourceMappingURL=estilo.css.map */
