@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@200;300;400;500&display=swap'); /*fuente Mukta para sitio web*/

html{
    font-size: 62.5%;
    
}

body{
    font-family: 'Mukta', sans-serif !important;
    font-weight: 100;
}/*parece que funciona perfecto, pero arroja un error en consola, cambia la fuente a la original si se quita*/
