footer {
    background:linear-gradient(90deg, rgba(4, 123, 139), rgba(4, 123, 139), rgba(35, 140, 154), rgba(35, 140, 154), rgba(67, 156, 168), rgba(67, 156, 168), rgba(98, 173, 183));
    
    .siguenos{
        padding-top: .9rem;
        margin-right: .7rem;
        padding-right: .5rem;
    }    
    .iconos{
        font-size: 40px;
        color: rgb(2, 30, 46);
        padding-right: .5rem;
        padding-top: 1rem;
        margin-right: .5rem;
        animation: float infinite 4s ease-in-out;
        
    }
    .iconI{
        animation-delay: 2s;
    }
    .iconF{
        animation-delay: 1s;
    }
    a:hover { color: #2e2a2a !important; }
    a:focus{ color: #c9aaa0 !important; }
    .nav-link.footerLinks{
        @include letras($tamanoLinks, map-get($colores, aqua2), center);        
    }
}