header {
    .logoHeader {
        img {
            width: 100px;
            animation: pulse 4s infinite alternate;
        }
    }
    
    .navbar-light {
        .textoLogo{
            text-shadow: 7px 4px 5px rgba(255, 216, 216, 0.493);
            font-size: map-get($texto, TamanoTextoLogo);
            display: flex;
            margin-bottom: 8px;
            margin-left: 10px;
            
            
            
        }
        .navbar-toggler {
            color: rgba(255, 255, 255, 0.55);
            border-color: rgba(255, 255, 255, 0.1);

            .navbar-toggler-icon {
                filter: invert(100%);
            }
        }
        .hoverLink {
            a:hover {
                color: #c9aaa0 !important;
            }

            a:focus {
                color: #2e2a2a !important;
            }
        }
    }
    
    background:linear-gradient(90deg, rgba(13, 17, 22), rgba(13, 17, 22));
}
