/*.backgroundHeader{
    background:linear-gradient(90deg, rgba(4, 123, 139), rgba(4, 123, 139), rgba(35, 140, 154), rgba(35, 140, 154), rgba(67, 156, 168), rgba(67, 156, 168), rgba(98, 173, 183))!important;
}

.logoWidth{
    width: 100px;

}

.nav-item{
    align-items: center;
    justify-content: space-between;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;

}*/
/*Funciona pero se comporta de forma extraña, intentar usar bien las herencias*/



