

// Mobile
.cardInicio {
    width: 90%;
    margin: 10px auto;
    background-color: #f1f1f1;
    padding: 20px;
}

// Tablet y Escrtorio
@media (min-width: 768px) {
    .contenedorCard {
        display: flex;
        justify-content: center;
        align-items: flex-start;
        flex-wrap: wrap;
    }

    .cardInicio {
        width: 400px;
        margin: 10px;
        text-align: center;

        img {
            width: 100%;
            height: auto;
        }

        .TextoCard {
            margin-top: 10px;
        }
    }
}
