@mixin letras($tamano,$color,$posicion){
    size:$tamano;
    color:$color;
    text-align: $posicion;
}
@mixin borders($width, $style, $color) {
    border-width: $width;
    border-style: $style;
    border-color: $color;
}