@mixin letras($tamano,$color,$posicion){
    size:$tamano;
    color:$color;
    text-align: $posicion;
}
@mixin borders($width, $style, $color) {
    border-width: $width;
    border-style: $style;
    border-color: $color;
}
@mixin h2s($tamano,$color,$posicion){
    font-size:$tamano;
    color:$color;
    text-align:$posicion;
}
@mixin textoParrafos($tamano, $color, $posicion, $interlineado){
    font-size:$tamano;
    color:$color;
    text-align:$posicion;
    line-height:$interlineado;
}